@import "tailwindcss";

/* =========================
   BRAND TOKENS
========================= */
:root {
  --indigo-brand: #3a3399;
  --electric: #3d29cc;
  --pure-black: #000000;
  --broken-white: #e7e7e7;

  --violet-brand: #cc06ef;
  --purple-brand: #8e23a5;
}

/* =========================
   BASE
========================= */
html,
body {
  height: 100%;
}

body {
  background: var(--pure-black);
  color: white;
  font-family: var(--font-inter);
}

/* =========================
   CUSTOM UTILS
========================= */
.bg-brand-gradient {
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(68, 46, 229, 1) 100%);
}

.bg-brand-gradient-violet {
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(204, 6, 239, 1) 100%);
}

.bg-noise {
  background-image: radial-gradient(rgba(255, 255, 255, 0.06) 1px, transparent 1px);
  background-size: 18px 18px;
}